@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.inputWrapper {
  width: 100%;
  @include flex-center(column, 4px);
}

.label {
  font-size: $font-size-sm;
  color: $color-black;
}

.inputContainer {
  position: relative;
  width: 100%;
  @include flex-center(row);
}

.icon {
  position: absolute;
  left: 12px;
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.input {
  width: 100%;
  padding: 10px 12px;
  padding-left: 40px;
  border: 1px solid $color-gray-light;
  border-radius: 10px;
  font-size: $font-size-md;

  &:focus {
    outline: none;
    border-color: $color-primary;
  }
}

.eyeBtn {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.eyeIcon {
  width: 18px;
  height: 18px;
  color: red;
}
