@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.wrapper {
  min-height: 100vh;
  background-color: $color-bg-app;
  @include flex-center(column, $font-size-xl);
}

.code {
  @include text-style($font-size-4xl, 700);
  color: $color-primary;
}
